<div class="container">
  <nav class="main-menu">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" (click)="showComponent('profil')">Profil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="showComponent('radnici')">Radnici</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="showComponent('poslovi')">Poslovi</a>
      </li>
    </ul>
  </nav>

  <div class="content">
    <div class="menu-content">
      <section *ngIf="showProfile" id="profil" class="profile-section">
        <h2>Profil</h2>
        <div class="profile-field">
          <label>Profilna slika:</label>
          <img class="rounded-circle" [src]="loggedUser.profilePicture" alt="Profilna slika" width="50" height="50">

          <div class="file-input">
            <input type="file" (change)="onProfilePictureChange($event)">
            <label class="file-label">Odaberi sliku</label>
          </div>
        </div>

        <div class="profile-field">
          <label>Naziv:</label>
          <div *ngIf="!editingName" class="field-value">
            <span>{{ profile.name }}</span>
            <button class="btn btn-primary" (click)="editName()">Ažuriraj</button>
          </div>
          <div *ngIf="editingName" class="field-value">
            <input type="text" class="form-control" [(ngModel)]="updatedName">
            <button class="btn btn-success" (click)="updateName()">Sačuvaj</button>
          </div>
        </div>
        <div class="profile-field">
          <label>Adresa:</label>
          <div *ngIf="!editingAddress" class="field-value">
            <span>{{ profile.address.country }}, {{ profile.address.city }}, {{ profile.address.street }} {{ profile.address.number }}</span>
            <button class="btn btn-primary" (click)="editAddress()">Ažuriraj</button>
          </div>
          <div *ngIf="editingAddress" class="field-value">
            <input type="text" class="form-control" [(ngModel)]="updatedAddress.country" placeholder="Država">
            <input type="text" class="form-control" [(ngModel)]="updatedAddress.city" placeholder="Grad">
            <input type="text" class="form-control" [(ngModel)]="updatedAddress.street" placeholder="Ulica">
            <input type="text" class="form-control" [(ngModel)]="updatedAddress.number" placeholder="Broj">
            <button class="btn btn-success" (click)="updateAddress()">Sačuvaj</button>
          </div>
        </div>

        <div class="profile-field">
          <label>Kratak opis:</label>
          <div *ngIf="!editingDescription" class="field-value">
            <span>{{ profile.description }}</span>
            <button class="btn btn-primary" (click)="editDescription()">Ažuriraj</button>
          </div>
          <div *ngIf="editingDescription" class="field-value">
            <input type="text" class="form-control" [(ngModel)]="updatedDescription">
            <button class="btn btn-success" (click)="updateDescription()">Sačuvaj</button>
          </div>
        </div>

        <div class="profile-field">
          <label>Email adresa:</label>
          <div *ngIf="!editingEmail" class="field-value">
            <span>{{ profile.email }}</span>
            <button class="btn btn-primary" (click)="editEmail()">Ažuriraj</button>
          </div>
          <div *ngIf="editingEmail" class="field-value">
            <input type="text" class="form-control" [(ngModel)]="updatedEmail">
            <button class="btn btn-success" (click)="updateEmail()">Sačuvaj</button>
          </div>
        </div>
        <div class="profile-field">
          <label>Kontakt telefon:</label>
          <div *ngIf="!editingPhone" class="field-value">
            <span>{{ profile.phone }}</span>
            <button class="btn btn-primary" (click)="editPhone()">Ažuriraj</button>
          </div>
          <div *ngIf="editingPhone" class="field-value">
            <input type="text" class="form-control" [(ngModel)]="updatedPhone">
            <button class="btn btn-success" (click)="updatePhone()">Sačuvaj</button>
          </div>
        </div>

        <div class="profile-actions">
          <button class="btn btn-primary" (click)="updateProfile()">Ažuriraj profil</button>
          <button class="btn btn-primary" (click)="showChangePassword = true">Promena lozinke</button>
        </div>

        <div *ngIf="showChangePassword">
          <h2>Promena lozinke</h2>
          <div>
            <div>
              <label for="oldPassword">Stara lozinka</label>
              <input type="password" id="oldPassword" [(ngModel)]="oldPassword" name="oldPassword" class="form-control">
            </div>
            <div>
              <label for="newPassword">Nova lozinka</label>
              <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" class="form-control">
            </div>
            <div>
              <label for="confirmPassword">Potvrdi lozinku</label>
              <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" class="form-control">
            </div>
            <button class="btn btn-primary" (click)="changePassword()">Promeni lozinku</button>
            <span>{{passMessage}}</span>
          </div>
        </div>

      </section>

      <section *ngIf="showWorkers" id="radnici">
        radnici
      </section>

      <section *ngIf="showJobs" id="poslovi">
        <app-agency-jobs></app-agency-jobs>
      </section>
    </div>
  </div>
</div>
