

<div>
  <h2>Moji poslovi</h2>
  <div>
    <input type="checkbox" id="zavrseni" [(ngModel)]="showFinished" />
    <label for="zavrseni">Završeni</label>
    <input type="checkbox" id="trenutnoAktivni" [(ngModel)]="showActive" />
    <label for="trenutnoAktivni">Trenutno aktivni</label>
    <input type="checkbox" id="zahtevi" [(ngModel)]="showRequests" />
    <label for="zahtevi">Zahtevi</label>
  </div>

  <div *ngIf="showFinished">
    <h3>Zavrseni poslovi</h3>
    <table>
      <thead>
        <tr>
          <th>Agencija</th>
          <th>Objekat</th>
          <th>Rok za zavrsetak</th>
          <th>Status</th>
          <th>Cena</th>
          <th>Ocena</th>
          <th>Komentar</th>
          <th>Akcije</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let job of jobs">
          <tr *ngIf="job.status === 'zavrsen'">
            <td>{{ job.agency.agency.name }}</td>
            <td>
              {{ job.object.objectType }}, {{ job.object.address }} <br>
              Broj soba: {{ job.object.numRooms }}, Povrsina: {{ job.object.area }}
            </td>
            <td>{{ job.deadline }}</td>
            <td>{{ job.status }}</td>
            <td>{{ job.price }}</td>

            <td>{{ job.review?.rating }}</td>
            <td >{{ job.review?.comment }}</td>

            <td>
              <button *ngIf="!showReviewForm && !job.review" (click)="showReviewForm = true">Dodaj ocenu</button>
              <div *ngIf="showReviewForm">
                <input type="number" [(ngModel)]="reviewRating" placeholder="Ocena">
                <input type="text" [(ngModel)]="reviewComment" placeholder="Komentar">
                <button (click)="addReview(job)">Sacuvaj ocenu</button>
                <button (click)="cancelReview()">Odustani</button>
              </div>
              <button *ngIf="job.review && !showEditForm" (click)="showEditForm=true">Izmeni ocenu</button>
              <div *ngIf="showEditForm">
                <input type="number" [(ngModel)]="reviewRating" placeholder="Ocena">
                <input type="text" [(ngModel)]="reviewComment" placeholder="Komentar">
                <button (click)="editReview(job)">Sacuvaj ocenu</button>
                <button (click)="showEditForm=false">Odustani</button>
              </div>
              <button *ngIf="job.review && !showEditForm" (click)="deleteReview(job)">Obriši ocenu</button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>



  <div *ngIf="showActive">
    <h3>Trenutno aktivni poslovi</h3>
    <table>
      <thead>
        <tr>
          <th>Agencija</th>
          <th>Objekat</th>
          <th>Rok za završetak</th>
          <th>Status</th>
          <th>Cena</th>
          <th>Akcije</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let job of jobs">
          <tr *ngIf="job.status=='aktivan'">
            <td>{{ job.agency.agency.name }}</td>
            <td>
              {{ job.object.objectType }}, {{ job.object.address }} <br>
              Broj soba: {{ job.object.numRooms }}, Povrsina: {{ job.object.area }}
            </td>
            <td>{{ job.deadline }}</td>
            <td>{{ job.status }}</td>
            <td>{{ job.price }}</td>
            <td >
              <button *ngIf="areAllRoomsCompleted(job.object.sketch)" (click)="pay(job)">Plati</button>
              <button (click)="toggleSketch(job)">Skica</button>
            </td>
          </tr>
          <tr *ngIf="job.showSketch">
            <td colspan="6">
              <app-canvas-progress [sketch]="job.object.sketch"></app-canvas-progress>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>


  <div *ngIf="showRequests">
    <h3>Zahtevi za saradnjom</h3>
    <table>
      <thead>
        <tr>
          <th>Agencija</th>
          <th>Objekat</th>
          <th>Rok za završetak</th>
          <th>Status</th>
          <th>Ponuda</th>
          <th>Akcije</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let request of requests">
          <tr [ngClass]="{'declined': request.status === 'odbijen', 'accepted': request.status === 'prihvacen'}">
            <td>{{ request.agency.agency.name }}</td>
            <td>
              {{ request.object.objectType }}, {{ request.object.address }} <br>
              Broj soba: {{ request.object.numRooms }}, Povrsina: {{ request.object.area }}
            </td>
            <td>{{ request.deadline }}</td>
            <td>{{ request.status }}</td>
            <td *ngIf="request.status === 'prihvacen'">{{ request.price }}</td>
            <td *ngIf="request.status != 'prihvacen'"> </td>
            <td *ngIf="request.status === 'prihvacen'">
              <button (click)="acceptOffer(request)">Prihvati</button>
              <button (click)="declineOffer(request)">Odbij</button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>

  </div>
</div>
