<h2>Registracija</h2>

<div>
  <label class="form-check-label">
    <input class="form-check-input" type="radio" name="registrationType" value="client" [(ngModel)]="registrationType"> Klijent
  </label>
  <label class="form-check-label">
    <input class="form-check-input" type="radio" name="registrationType" value="agency" [(ngModel)]="registrationType"> Agencija
  </label>
</div>

<table class="table">
  <tr>
    <td>Korisničko ime:</td>
    <td><input class="form-control" type="text" [(ngModel)]="username"></td>
  </tr>
  <tr>
    <td>Lozinka:</td>
    <td><input class="form-control" type="password" [(ngModel)]="password"></td>
  </tr>
  <tr>
    <td>Potvrda lozinke:</td>
    <td><input class="form-control" type="password" [(ngModel)]="confirmPassword"></td>
  </tr>
  <tr>
    <td>Kontakt telefon:</td>
    <td><input class="form-control" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' [(ngModel)]="phoneNumber"></td>
  </tr>
  <tr>
    <td>E-mail adresa:</td>
    <td><input class="form-control" type="email" [(ngModel)]="email"></td>
  </tr>

  <ng-container *ngIf="registrationType=='client'">
    <tr>
      <td>Ime:</td>
      <td><input class="form-control" type="text" onkeypress="return /[a-z]/i.test(event.key)" [(ngModel)]="firstName"></td>
    </tr>
    <tr>
      <td>Prezime:</td>
      <td><input class="form-control" type="text" onkeypress="return /[a-z]/i.test(event.key)" [(ngModel)]="lastName"></td>
    </tr>
  </ng-container>

  <ng-container *ngIf="registrationType=='agency'">
    <tr>
      <td>Naziv agencije:</td>
      <td><input class="form-control" type="text" [(ngModel)]="agencyName"></td>
    </tr>
    <tr>
      <td>Adresa sedišta agencije:</td>
      <td>
        <input class="form-control" type="text" placeholder="Država" onkeypress="return /[a-z\s]/i.test(event.key)"  [(ngModel)]="agencyAddress.country">
        <input class="form-control" type="text" placeholder="Grad" onkeypress="return /[a-z\s]/i.test(event.key)"  [(ngModel)]="agencyAddress.city">
        <input class="form-control" type="text" placeholder="Ulica" [(ngModel)]="agencyAddress.street">
        <input class="form-control" type="text" placeholder="Broj" onkeypress='return event.charCode >= 48 && event.charCode <= 57' [(ngModel)]="agencyAddress.number">
      </td>
    </tr>
    <tr>
      <td>Matični broj agencije:</td>
      <td><input class="form-control" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' [(ngModel)]="agencyPIB"></td>
    </tr>
    <tr>
      <td>Kratki opis agencije:</td>
      <td><textarea class="form-control" [(ngModel)]="agencyDescription"></textarea></td>
    </tr>
  </ng-container>

  <tr>
    <td><label for="profilePicture">Profilna slika:</label></td>
    <td><input class="form-control" type="file" id="profilePicture" (change)="onProfilePictureSelected($event)"></td>
  </tr>

  <tr>
    <td colspan="2">
      <button class="btn btn-primary" (click)="register()">Registruj se</button>
    </td>
  </tr>
</table>

<span class="error">{{message}}</span>
