<div class="container">
  <div class="login-container">
    <form class="login-form">
      <table class="table">
        <tr>
          <td>Korisničko ime:</td>
          <td><input class="form-control" type="text" name="username" [(ngModel)]="username"></td>
        </tr>
        <tr>
          <td>Lozinka:</td>
          <td><input class="form-control" type="password" name="password" [(ngModel)]="password"></td>
        </tr>
        <tr>
          <td colspan="2">
            <button class="btn btn-primary" (click)="login()">Prijavi se</button>
          </td>
        </tr>
      </table>
      <span class="error">{{message}}</span>
    </form>
  </div>
</div>
