<div *ngIf="agency">
  <h2 class="mb-4">Agencija {{agency.agency.name}}</h2>
  <table class="table">

    <tr>
      <!-- <td><img [src]="'http://localhost:4000/pictures/'+agency.username+'.jpg'" alt="img" width="100" height="100"></td> -->
      <img class="rounded-circle" [src]="agency.profilePicture" alt="Profilna slika" width="50" height="50">

    </tr>

    <tr>
      <th>Adresa:</th>
      <td>{{ agency.agency.address.street }} {{ agency.agency.address.number }}, {{ agency.agency.address.city }}, {{ agency.agency.address.country }}</td>
    </tr>
    <tr>
      <th>PIB:</th>
      <td>{{ agency.agency.PIB }}</td>
    </tr>
    <tr>
      <th>Opis:</th>
      <td>{{ agency.agency.description }}</td>
    </tr>
  </table>
  <p class="mb-4">Ocene i komentari:</p>
  <ng-container *ngFor="let job of allJobs">
    <div *ngIf="job.review">
      <div *ngIf="isLoggedIn">
        <p>Korisnik: {{job.client.username}}</p>
      </div>
      <p>Ocena: {{job.review.rating}}, Komentar: {{job.review.comment}}</p>
    </div>
  </ng-container>

  <button *ngIf="isLoggedIn" class="btn btn-primary mt-4" (click)="showRequestForm=true">Zatrazi saradnju</button>

  <div *ngIf="showRequestForm && isLoggedIn">
    <h4 class="mt-4">Unos podataka:</h4>
    <table class="table">
      <tr>
        <td>Objekat:</td>
        <td>
          <select class="form-select" [(ngModel)]="selectedObjectId">
            <option *ngFor="let object of user.client.objects" [value]="object._id">{{ object.objectType }}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Vremenski period za zavrsetak:</td>
        <td>
          <input type="date" class="form-control" [(ngModel)]="deadline">
        </td>
      </tr>
    </table>

    <button class="btn btn-primary" (click)="requestCollaboration()">Pošalji zahtev</button>
    <span>{{reqMessage}}</span>
  </div>
</div>
