<div class="search-bar">
  <input type="text" [(ngModel)]="searchParam" placeholder="Pretraga po nazivu ili adresi">
  <label>
    <input type="checkbox" [(ngModel)]="searchByAddress"> Pretraži po adresi
  </label>
  <label>
    <input type="checkbox" [(ngModel)]="searchByName"> Pretraži po nazivu
  </label>
  <button (click)="search()">Pretraga</button>
</div>

<table>
  <thead>
    <tr>
      <th>Profilna slika</th>
      <th>Naziv</th>
      <th>Opis</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of filteredAgencies" (click)="viewAgencyDetails(a)">
      <td>
        <img [src]="a.profilePicture" alt="Profilna slika" width="50" height="50">
      </td>
      <td>{{ a.agency.name }}</td>
      <td>{{ a.agency.description }}</td>
    </tr>
  </tbody>
</table>






