<div class="container">
  <nav class="main-menu">
    <ul>
      <li><a (click)="showComponent('profil')">Profil</a></li>
      <li><a (click)="showComponent('objekti')">Objekti</a></li>
      <li><a (click)="showComponent('agencije')">Agencije</a></li>
      <li><a (click)="showComponent('poslovi')">Poslovi</a></li>
    </ul>
  </nav>

  <div class="content">
    <div class="menu-content">
      <section *ngIf="showProfile" id="profil" class="profile-section">
        <h2>Profil</h2>
        <div class="profile-field">
          <label>Profilna slika:</label>
          <img [src]="profile.profilePicture" alt="img" width="100" height="100">
          <div class="file-input">
            <input type="file" (change)="onProfilePictureChange($event)">
            <label class="file-label">Odaberi sliku</label>
          </div>
        </div>

        <div class="profile-field">
          <label>Ime:</label>
          <div *ngIf="!editingFirstName" class="field-value">
            <span>{{ profile.firstName }}</span>
            <button (click)="editFirstName()">Ažuriraj</button>
          </div>
          <div *ngIf="editingFirstName" class="field-value">
            <input type="text" [(ngModel)]="updatedFirstName">
            <button (click)="updateFirstName()">Sačuvaj</button>
          </div>
        </div>
        <div class="profile-field">
          <label>Prezime:</label>
          <div *ngIf="!editingLastName" class="field-value">
            <span>{{ profile.lastName }}</span>
            <button (click)="editLastName()">Ažuriraj</button>
          </div>
          <div *ngIf="editingLastName" class="field-value">
            <input type="text" [(ngModel)]="updatedLastName">
            <button (click)="updateLastName()">Sačuvaj</button>
          </div>
        </div>
        <div class="profile-field">
          <label>E-mail adresa:</label>
          <div *ngIf="!editingEmail" class="field-value">
            <span>{{ profile.email }}</span>
            <button (click)="editEmail()">Ažuriraj</button>
          </div>
          <div *ngIf="editingEmail" class="field-value">
            <input type="text" [(ngModel)]="updatedEmail">
            <button (click)="updateEmail()">Sačuvaj</button>
          </div>
        </div>
        <div class="profile-field">
          <label>Kontakt telefon:</label>
          <div *ngIf="!editingPhoneNumber" class="field-value">
            <span>{{ profile.phoneNumber }}</span>
            <button (click)="editPhoneNumber()">Ažuriraj</button>
          </div>
          <div *ngIf="editingPhoneNumber" class="field-value">
            <input type="text" [(ngModel)]="updatedPhone">
            <button (click)="updatePhoneNumber()">Sačuvaj</button>
          </div>
        </div>

        <div class="profile-actions">
          <button (click)="updateProfile()">Ažuriraj profil</button>
          <button (click)="showChangePassword = true" class="btn btn-primary">Promena lozinke</button>
        </div>

        <div *ngIf="showChangePassword">
          <h2>Promena lozinke</h2>
          <div>
            <div>
              <label for="oldPassword">Stara lozinka</label>
              <input type="password" id="oldPassword" [(ngModel)]="oldPassword" name="oldPassword" >
            </div>
            <div>
              <label for="newPassword">Nova lozinka</label>
              <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" >
            </div>
            <div>
              <label for="confirmPassword">Potvrdi lozinku</label>
              <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" >
            </div>
            <button (click)="changePassword()">Promeni lozinku</button>
            <span>{{passMessage}}</span>
          </div>
        </div>

      </section>

      <section *ngIf="showObjects" id="objekti">
        objekti
      </section>

      <section *ngIf="showAgencies" id="agencije">
        agencije
      </section>

      <section *ngIf="showJobs" id="poslovi">
        poslovi
      </section>
    </div>
  </div>
</div>
